<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8">
		<title>TUM Schafkopf Club</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body>
        <nav class="navbar">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" style="height: 5vw; width: 5vw; margin-right: 1vw">
            <a class="navbar-element" href="/">Startseite</a>
            <a class="navbar-element" href="/events">Events</a>
            <a class="navbar-element" href="/leaderboard">Ranglisten</a>
        </nav>
		{% block content %}{% endblock %}
	</body>
</html>
